<h1>Edit user</h1>

<%= semantic_form_for(@user) do |f| %>

  <%= f.input :firstname, :label => 'First name' %>
  <%= f.input :lastname, :label => 'Last name' %>
  <%= f.input :email, :as => :email, :label => 'Email' %>

  <%= f.action :submit, :as => :button %>
  <%= f.action :cancel, :as => :link, :label => 'Back' %>
<% end %>