<h1> <%= t(".user_users") %> </h1>

<table>
  <tr>
    <th> <%= t(".user_name") %></th>
    <th>&nbsp;</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.fullname %></td>
      <td>
        <%= link_to t(".i_show"), user_path(user) %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Delete', user, confirm: 'are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
