<h1> <%= t(".new_user") %></h1>

<%= semantic_form_for(@user) do |f| %>

  <%= f.input :firstname, :label => t('.first_name') %>
  <%= f.input :lastname, :label => t('.last_name') %>
  <%= f.input :email, :as => :email, :label => t('.email') %>

  <%= f.select :company_id, options_from_collection_for_select(@companies, :id, :name) %>
  
  <%= f.action :submit, :as => :button %>
  <%= f.action :cancel, :as => :link, :label => t('.back') %>
<% end %>