<h1> <%= t(".new_user") %></h1>

<%= semantic_form_for(@user) do |f| %>

  <%= f.input :firstname, :label => t('First name') %>
  <%= f.input :lastname, :label => t('Last name') %>
  <%= f.input :email, :as => :email, :label => t('Email') %>

  <%= f.input :company, :as => :select, :collection => Company.all %>

  <%= f.action :submit, :as => :button %>
  <%= f.action :cancel, :as => :link, :label => t('.back') %>
<% end %>