<h1> <%= t(".show_user", fullname: @user.fullname)  %></h1>

<p>
  <b> <%= t("first_name:") %></b>
  <%= @user.firstname %>
</p>

<p>
  <b> <%= t("last_name:") %></b>
  <%= @user.lastname %>
</p>

<p>
  <b> <%= t("email:") %></b>
  <%= @user.email %>
</p>

<%= link_to t("back"), users_path %>

