<h1> <%= t(".show_company", name: @company.name)  %></h1>

<p>
  <b> <%= t("name:") %></b>
  <%= @company.name %>
</p>
<p>
  <b> <%= t("email:") %></b>
  <%= @company.email %>
</p>

<%= link_to t("back"), companies_path %>
