<h1> <%= t(".new_post") %></h1>

<%= semantic_form_for(@post) do |f| %>

  <%= f.input :title, :label => t(".title") %>
  <%= f.input :description, :label => t(".description") %>
  <%= f.input :published_at, :label => t(".published_at") %>

  <%= f.select :user_id, options_from_collection_for_select(@users, :id, :fullname)  %>

  <%= f.input :companies, :as => :check_boxes, options_from_collection_for_select[@categories, :id, :name] %>

  <%= f.action :submit, :as => :button %>
  <%= f.action :cancel, :as => :link, :label => t('.back') %>
<% end %>